.page-component {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  .page-panel {
    .panel {
      text-align: center;
      p {
        font-size: 2rem;
        color: black;
      }
    }
  }
}

.red {
  color: #00f;
}
.orange {
  color: #0ff;
}
.dark-blue {
  color: #f0f;
}
.pink {
  color: #f80;
}
.turquoise {
  color: #f00;
}
